<footer class="footer">
  <small>
    <%= t "the" %> <%= link_to t("ruby_rails"), Settings.server %>
    <%= t "by" %> <%= link_to "Michael_Hartl", Settings.michael %>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to t("about"), "#" %>
      </li>
      <li>
        <%= link_to t("contact"), "#" %>
      </li>
      <li>
        <%= link_to t("news"), Settings.server %>
      </li>
    </ul>
  </nav>
</footer>
